@use "abstract/_variables" as v;
@use "abstract/_mixins" as m;
@use "abstract/_tipography";
@use "layout/layout";

// RESET // 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: v.$primary-font;
    font-weight: v.$font_medium;
}

//BASE STYLES

body{
    
    @include m.breakpoint(tablet){
        background: url(/img/hero-img.png);
        background-repeat: no-repeat;
        background-size: 350px;
        background-position: right -50px top 50px;
    };
}

.page{
    padding-left: 16px;
    padding-right: 16px;
    margin-right: auto;
    margin-left: auto;
}
