@use '../abstract/_variables' as v;


//MEDIA QUERIES
@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: 1441px) { @content; }
    } @else if $point == laptop {
      @media (max-width: 1440px) and (min-width:1025px ) { @content; }
    } @else if $point == tablet {
      @media (max-width: 1024px) and (min-width: 768px) { @content; }
    } @else if $point == mobile {
      @media (max-width: 767px) { @content; }
    }
  }


// BUTTONS
@mixin button_style($type){
    display: inline-block;
    border-radius: 28px;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: v.$font_bold;
    color: v.$white_color;
    transition: 0.5s ease;

    @if $type == "button_one"{
        background-color: v.$navy_color; 
        transition: 0.5s ease;
        &:hover{
            background-color: v.$bluePurple_color;
        }
    }

    @else if $type == "button_two"{
        background: v.$gradient_one;
        transition: 0.5s ease;
        &:hover{
            opacity: 0.5;
        }
    }

    @else if $type == "button_three"{
        background: v.$gradient_two;
        transition: 0.5s ease;
        &:hover{
            opacity: 0.5;
        }
    }
}

//LIST RESET
@mixin reset_list(){
    list-style-type: none;
    gap: 16px;
    align-items: center;
    li{
        a{
            text-decoration: none;
        }
    }
}